<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Typr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86B653FF1D26C5CE00B66803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B654101D26C5CE00B66803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B6541B1D26C5CE00B66803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
